* {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
}
#landing-page {
  height: 675px;
  text-align: center;
  background-image: url("../images/six.jpg");
  background-size: cover;
}
#page1 {
  background: url("../images/option3.png");
  height: 675px;
}

#page2 {
  background: silver;
  height: 675px;
}

#page3 {
  background: #504848;
  height: 655px;
}

#profilePic {
  border-radius: 50%;
  height: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3em;
}

#hi {
  display: inline;
  position: relative;
  font: 50px Helvetica, Sans-Serif;
  letter-spacing: -5px;
  color: rgba(0, 0, 255, 0.5);
}
.about-me {
  text-align: center;
  padding-left: 10em;
}
/* #hi:after {
  content: "Hello World!";
  position: absolute;
  right: 10px;
  top: 10px;
  color: rgba(255, 0, 0, 0.5);
} */

.profileText {
  text-align: center;
  width: 150px;
  background: red;
}

#profileHeader {
  text-align: center;
}
.contain {
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -10%);
  position: relative;
  left: 50%;
  display: inline-block;
}

.links {
  font-size: 25px;
  margin: auto;
  bottom: 10%;
  width: 100%;
  line-height: 2em;
  /* color: rgba(255, 255, 255, 0.74); */
}

a {
  color: rgba(255, 255, 255, 0.534);
  font-family: "Montserrat", sans-serif;
  text-align: center;
  font-size: 20px;
}
a:hover {
  color: rgb(255, 255, 255);
}
.fa-github-square:before {
  padding-right: 5px;
  /* padding-left: 200px; */
  /* font-size: 35px; */
}

.fa-linkedin:before {
  padding-right: 5px;
  /* padding-left: 115.56px; */
  /* font-size: 35px; */
}

.fa-envelope:before {
  padding-right: 5px;
  /* padding-left: 245.1px; */
  /* font-size: 35px; */
}

hr {
  border: 0;
  height: 1px;
  background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  width: 30em;
  margin-top: 100px;
  margin-bottom: 100px;
}

#contactHeader {
  text-align: center;
  color: white;
  font-family: "Montserrat", sans-serif;
  padding-top: 20px;
}

#smallHeader {
  text-align: center;
  color: white;
  font-size: 20px;
}

.left-sticky {
  color: maroon;
  font-size: 22px;
  align-items: center;
  justify-content: center;
  top: 40px;
  left: 20px;
  width: 120px;
  height: 300px;
  line-height: 4em;
  padding: 5px;
  position: sticky;
  -webkit-position: sticky;
  display: flex;
  background-color: mediumorchid;
}

.active {
  color: gold;
}

.info {
  /* /* position: absolute;
  top: 30%;
  left: 40%;
  text-transform: (-50%, -50%);
  /* width: 100px;
  height: 100px; */
  /* font-size: 5em;
  font-family: "Roberto", "sans-serif"; */
  /* position:relative; 
  float:left;
  top:50%; 
  left:50%; 
  transform:(translate) */
  font-family: "Montserrat", sans-serif;
  text-transform: (-50%, -50%);
  top: 30%;
  font-size: 100px;
  padding-top: 250px;
}

.text-js {
  opacity: 0;
}

.cursor {
  display: block;
  position: absolute;
  height: 100%;
  top: 0;
  right: -5px;
  width: 2px;
  /* Change colour of Cursor Here */
  background-image: url("../images/landing.jpg");
  z-index: 1;
  animation: flash 0.5s none infinite alternate;
}
@keyframes flash {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
/* styling of post-it*/

.note,
.note-li {
  list-style: none;
}
.note {
  overflow: hidden;
  /* padding: 3em; */
  float: left;
}
.note .note-li .note-link {
  text-decoration: none;
  color: #000;
  background: #ffc;
  display: inline-block;
  height: 12em;
  width: 10em;
  padding: 1em;
  /* Firefox */
  -moz-box-shadow: 5px 5px 7px rgba(33, 33, 33, 1);
  /* Safari+Chrome */
  -webkit-box-shadow: 5px 5px 7px rgba(33, 33, 33, 0.7);
  /* Opera */
  box-shadow: 5px 5px 7px rgba(33, 33, 33, 0.7);
  -webkit-transform: rotate(-3deg);
  -o-transform: rotate(-3deg);
  -moz-transform: rotate(-3deg);
  transform: rotate(-3deg);
}

.note .note-li {
  margin: 1em;
  float: left;
}

.note .note-li .note-title {
  font-weight: bold;
  font-family: "Indie Flower", cursive;
  padding-bottom: 5px;
  font-size: 20px;
}

.note .note-li .note-body {
  font-family: "Indie Flower", cursive;
  font-size: 180%;
  font-size: 20px;
}

.note .note-li:nth-child(even) .note-link {
  -o-transform: rotate(4deg);
  -webkit-transform: rotate(4deg);
  transform: rotate(4deg);
  -moz-transform: rotate(4deg);
  position: relative;
  top: 5px;
}
.note .note-li:nth-child(3n) .note-link {
  -o-transform: rotate(-3deg);
  transform: rotate(-3deg);
  -webkit-transform: rotate(-3deg);
  -moz-transform: rotate(-3deg);
  position: relative;
  top: -5px;
}
.note .note-li:nth-child(5n) .note-link {
  -o-transform: rotate(5deg);
  -webkit-transform: rotate(5deg);
  transform: rotate(5deg);
  -moz-transform: rotate(5deg);
  position: relative;
  top: -10px;
}

ul .note-li .note-link:hover,
.note .note-li .note-link:focus {
  -moz-box-shadow: 10px 10px 7px rgba(0, 0, 0, 0.7);
  -webkit-box-shadow: 10px 10px 7px rgba(0, 0, 0, 0.7);
  box-shadow: 10px 10px 7px rgba(0, 0, 0, 0.7);
  -webkit-transform: scale(1.25);
  -moz-transform: scale(1.25);
  -o-transform: scale(1.25);
  transform: scale(1.25);
  position: relative;
  z-index: 5;
}
